* {
    box-sizing: border-box;
  }


  html, body {

    overflow-x: hidden;

  }

body {

    margin: 0;
    padding: 0;
    font-size: 100%;

}

/*header*/
header {

    background-image: url("bilder/toppbilde.jpg");
    background-position: center;
    background-size: cover;
   /* background-attachment: fixed;*/
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 70px;

    
}

.intro {

    margin-left: 2.5rem;
    padding-top: 2.5rem;
    display: grid;
    grid-template-rows: 1fr 200px;

}

.intro > h1 {

    font-size: 3rem;
    margin: 0;

}

.introtext > h2 {

    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin: 0 0 -26px 0;

}

.introtext > p {

    margin: 0;
    font-size: 6rem;
    font-family: 'Vidaloka', serif;
    font-weight: 100;

}

.fixed-position {

    position: fixed;
    padding-top: 13rem;
    z-index: 6;

}

.fixed-position > a {

    display: block;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    color: #BDB4A5;
    font-size: 1.2rem;
    font-family: 'Vidaloka', serif;
    transition: ease-in-out;
 
}


.fixed-position > a:hover {

    color: #5A403F;
    border-bottom: 2px solid #5A403F;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
     
}

main {

    font-family: 'Nunito', sans-serif;  /*dette er istedefor avenir nextr*/
    color: #5A403F;
} 


/*resposiv til felles på siden*/
@media only screen and (max-width: 1200px) {

    .introtext > p {

        text-shadow: 3px 3px 3px #00000036;

    }

    .intro > h1 {

        text-shadow: 3px 3px 3px #00000036;
    }

}

@media only screen and (max-width: 850px) {


    header {

        min-height: 600px;
    }

}

@media only screen and (max-width: 500px) {


    .intro {
        
        margin-left: 1.5rem;
    
    }


    .introtext > h2 {

        font-size: 2.8rem;
      
    }
    
    .introtext > p {
    
        font-size: 5.3rem;
    
    }

    .fixed-position {

        position: fixed;
        padding-top: 3rem;
    }


}

@media only screen and (max-width: 450px) {

    .introtext > h2 {
    
        font-size: 2.9rem;
       
    }

    header {

        grid-template-columns: 1fr 30px;
    
        
    }


}