 
/*section 5*/
#signaler {

    padding-top: 15rem;

}

.number {

    padding-right: 4rem; 
    display: flex;
    justify-content: flex-end;
    
}

.number > figure {

    font-size: 4rem;
    font-family: 'Vidaloka', serif;
    border-bottom: 2.5px solid #5A403F;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 80px;
    text-align: center;
    
}

.number > div {

    height: 10px;
}

.section5 {

    display: grid;
    grid-template-columns: 550px 1fr;
    grid-gap: 1rem; 

}

.section5 > .text5 {

    position: absolute;
    width: 570px;
    left: 4rem;
    z-index: 3;

}

.text5 > h3 {

    font-family: 'Vidaloka', serif;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;

}

.text5 > p {

    font-size: 1.3rem;
    font-weight: 200;
    line-height: 30px;
}

.section5 > figure {

    position: absolute;
    left: 21rem;
    padding-top: 34rem;
    font-size: 6rem;
    font-family: 'Vidaloka', serif;
    font-weight: 100;
    color: #BDB4A5;
    text-shadow: 3px 3px 3px #00000036;
}

.plasseringavbilde5{

    padding-top: 12rem;
}

.bilde5 {

    background-image: url("bilder/signaler.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1000px;
    position: relative;
    left: 500px;
  
}

/*resposiv til section 5*/
@media only screen and (max-width: 1440px) {

    .bilde5 {
    
        width: 940px;
    }

}

@media only screen and (max-width: 1200px) {


    .bilde5 {
    
        left: 300px;
        width: 893px;

    }

    .section5 > figure {

        left: 7rem; 
        
    }


}


@media only screen and (max-width: 850px) {

    .bilde5 {
    
        left: 200px;
        width: 648px;
       
    }

    .section5 > figure {

        left: 7rem;
       
    }

    .text5 > h3 {

        font-size: 3rem;

    }

    .text5 > p {

        font-size: 1rem;
        font-weight: 400;
  
    }

    .section5 > .text5 {
 
        width: 400px;

    }

}

  @media only screen and (max-width: 700px) {

    .bilde5 {
    
        left: 100px;
        width: 582px;
    
    }

    .section5 > figure {

        left: 5rem;
        
    }

    .section5 > .text5 {
 
        width: 380px;
      
    }

    .text5 > h3 {

        font-size: 2.8rem;

    }

}


@media only screen and (max-width: 500px) {

    .bilde5 {
    
        left: 0px;

    }

    .section5 > figure {

        left: -2rem;
        padding-top: 54rem;
        font-size: 4rem;
        
    }

    .section5 > .text5 {
 
        width: 350px;
      
    }

    .section5 {

        grid-template-columns: 500px 1fr;
       
    }

    .plasseringavbilde5 {

        padding-top: 29rem;

    }

    .text5 > h3 {
        
        font-size: 2.4rem;
    }

    .text5 > p {

        line-height: 23px;
    }

}


@media only screen and (max-width: 450px) {

    .section5 > .text5 {

        width: 300px;
        left: 2rem;
    }

    .text5 > p {

        font-weight: 300;
        line-height: 23px;
    }


}



