
/*section 6*/
#fhverandre {

    padding-top: 15rem;
    
}

.number2 {

    padding-right: 4rem; 
    display: flex;
    justify-content: flex-start;;
    
}

.number2 > figure {

    font-size: 4rem;
    font-family: 'Vidaloka', serif;
    border-bottom: 2.5px solid #5A403F;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 80px;
    text-align: center;

}

.number > div {

    height: 10px;
}


.section6 {

    display: grid;
    grid-template-columns: 1fr 550px;
    grid-gap: 1rem; 
    /*background-color: #BDB4A5;*/

}

.section6 > .text6 {

    position: absolute;
    width: 570px;
    left: 49rem;
    z-index: 3;

}

.text6 > h3 {

    font-family: 'Vidaloka', serif;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;

}

.text6 > p {

    font-size: 1.3rem;
    font-weight: 200;
    line-height: 30px;
}

.section6 > figure {

    position: absolute;
    left: 40rem;
    padding-top: 34rem;
    font-size: 6rem;
    font-family: 'Vidaloka', serif;
    font-weight: 100;
    color: #BDB4A5;
    text-shadow: 3px 3px 3px #00000036;
}

.plasseringavbilde6{

    padding-top: 12rem;
}

.bilde6 {


    background-image: url("bilder/fhverandre.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1000px;
    position: relative;
  

}

/*resposiv til section 6*/
@media only screen and (max-width: 1400px) {

    .bilde6 {
    
        width: 940px;
    } 

    .section6 > .text6 {
  
        left: 43rem;
  
    }


}

@media only screen and (max-width: 1300px) {
    
    .section6 > .text6 {
      
        left: 40rem;
      
    }
    
    
}


@media only screen and (max-width: 1200px) {


    .section6 > .text6 {
  
        left: 35rem;
  
    }


    .bilde6 {
    
   
        width: 893px;
        left: -173px;

    }

    .section6 > figure {

        left: 7rem;
       
        
    }

}


@media only screen and (max-width: 1150px) {

    
    .section6 > .text6 {
      
        left: 29rem;
      
    }
    
       
    
}

@media only screen and (max-width: 1050px) {

    
    .section6 > .text6 {
      
        left: 25rem;
      
    }
    
       
    
}

@media only screen and (max-width: 1000px) {

    
    .section6 > .text6 {
      
        left: 20rem;
      
    }
    
       
    
}

@media only screen and (max-width: 950px) {


    .section6 > .text6 {
      
        left: 18rem;
      
    }

}
  
@media only screen and (max-width: 900px) {

    .section6 > .text6 {
      
        left: 15rem;
      
    }
}


@media only screen and (max-width: 850px) {


    .bilde6 {
    
        width: 648px;
        /*width: 582px;*/
    }

    .section6 > figure {

        left: 7rem;
       
    }

    .section6 > .text6 {
 
        width: 400px;
        left: 22rem;
      
    }

    .text6 > h3 {

        font-size: 3rem;
        text-align: right;

    }

    .text6 > p {
        font-size: 1rem;
        text-align: right;
  
    }


}

@media only screen and (max-width: 800px) {

    .section6 > .text6 {
      
        left: 18rem;
  
    }


}

  @media only screen and (max-width: 750px) {

    .section6 > .text6 {
 
        left: 15rem;
      
    }

}

  @media only screen and (max-width: 700px) {


    .bilde6 {
    
        width: 582px;
        /*width: 482px;*/
    }

    .section6 > figure {

        left: 5rem;
         
    }

    .section6 > .text6 {
 
        width: 380px;
      
    }

    .text6 > h3 {

        font-size: 2.8rem;

    }


}

@media only screen and (max-width: 690px) {

    .section6 > .text6 {
 
        left: 13rem;
      
    }

}


@media only screen and (max-width: 650px) {

    .section6 > .text6 {
 
        left: 11rem;
      
    }

}


@media only screen and (max-width: 620px) {

    .section6 > .text6 {
 
        left: 9rem;
      
    }

}


@media only screen and (max-width: 600px) {

    .section6 > .text6 {
 
        left: 5rem;
      
    }

}



@media only screen and (max-width: 500px) {

    .number2 {
        
        opacity: 0.5;

    }

    .section6 > figure {

        left: 6rem;
        padding-top: 48rem;
        font-size: 4rem;  
        
    }

    .section6 > .text6 { 
 
        width: 350px;
        left: 2rem;
      
    }

    .section6 {

        grid-template-columns: 500px 1fr;
       
    }

    .plasseringavbilde6 {

        padding-top: 24rem;
    }

    .text6 > h3 {
        font-size: 2.4rem;
    }

    .text6 > p {

        font-weight: 300;
        line-height: 23px;
    }

    .bilde6 {
    
        left: 0px;

    }

}

@media only screen and (max-width: 450px) {

    .number2 {

        padding-right: 3rem;
        
    }

    .section6 > .text6 {

        width: 300px;
        left: 1rem;

    }

    .text6 > p {

        font-weight: 300;
        line-height: 23px;

    }


}

