
/*section 6*/
#lyttTilHesten {

    padding-top: 15rem;
    font-family: 'Nunito', sans-serif; 
    color: #5A403F;
    
}

.number7 {

    display: flex;
    justify-content: center;
    
}

.number7 > figure {

    font-size: 4rem;
    font-family: 'Vidaloka', serif;
    border-bottom: 2.5px solid #5A403F;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 80px;
    text-align: center;
    
}

.number7 > div {

    height: 10px;
}

.section7 {

    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;

}

.section7 > a {

    padding-top: 50rem;
    left: 3rem;
    z-index: 10;
    text-align: center;
    color: #5A403F;
    position: absolute;
}

.section7 > .text7 {

    position: absolute;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 1.5rem;

}

.text7 > h3 {

    font-family: 'Vidaloka', serif;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;

}

.text7 > p {

    font-size: 1.3rem;
    font-weight: 200;
    line-height: 30px;
    text-align: center;
}

.section7 > figure {

    position: absolute;
    left: 40rem;
    padding-top: 34rem;
    font-size: 6rem;
    font-family: 'Vidaloka', serif;
    font-weight: 100;
    color: #BDB4A5;
}

.plasseringavbilde7 { 

    padding-top: 10rem;
}

.bilde7 {

    background-image: url("bilder/lyttTilHesten.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;
    position: relative;
  

}

/*resposiv til section 7*/
  @media only screen and (max-width: 850px) {

    .section7 > .text7 {
 
        width: 400px;

      
    }

    .text7 > h3 {

        font-size: 3rem;
        

    }

    .text7 > p {
        font-size: 1rem;
        
  
    }

  }

  @media only screen and (max-width: 700px) {


    .section7 > .text7 {
 
        width: 380px;
    
    }

    .text7 > h3 {

        font-size: 2.8rem;

    }

  }

  @media only screen and (max-width: 500px) {

    .number2 {
        
        opacity: 0.5;

    }

    .section7 > figure {

        padding-top: 44rem;
        font-size: 4rem; 
        
    }

    .section7 > .text7 { 
 
        width: 350px;
    
    }

    .section7 {

        grid-template-columns: 500px 1fr;
       
    }

    .plasseringavbilde7 {

        padding-top: 19rem;
    }

    .text7 > h3 {
        font-size: 2.4rem;
    }

    .text7 > p {

        font-weight: 300;
        line-height: 23px;
    }

    .section7 > a {

        padding-top: 59rem;
  
    }

  }

  @media only screen and (max-width: 450px) {

 
    .number2 {

        padding-right: 3rem;
        
    }

    .section7 > .text7 {

        width: 300px;
    
    }

    .text7 > p {

        font-weight: 400;
        line-height: 23px;
    }


}

